<div class="row">
    <h4>
        <i class="fa fa-tablet" aria-hidden="true"></i> Modificar datos de mi dispositivo
    </h4>
</div>


<div class="row">
    <!--That's where the form be-->
    <form action="/devices/{{device._id}}" method="POST" class="col s12">
        <!--Update method-->
        <input type="hidden" name="_method" value="PUT"> 


        <!--That's where the image will be..-->
        
         <div class="row">
             <div class="row">
                <!--This is the serie of device-->
                <div class="input-field col s12">
                    <i class="fa fa-address-card prefix"></i>
                    <input placeholder="Ingrese serie del dispositivo" id="serie" name="serie" type="text" class="validate" value="{{device.serie}}">
                    <label for="serie">Serie</label>
                </div>
             </div>
         </div>


        <div class="row">
            <div class="row">
                <!--This is the date of device-->
                <div class="input-field col s12">
                    <i class="fa fa-calendar prefix"></i>
                    <input id="date" name="date" type="text" class="datepicker" value="{{device.date}}">
                     <label for="date">Fecha de compra</label>
                </div>
            </div>
        </div>

        



        <div class="row">
            <div class="row">
                <!-- This is the color device input -->
                <div class="input-field col s12">
                    <i class="fa fa-palette prefix"></i>
                    <select id="color" name="color" class="icons" value="{{device.color}}">

                        <option value="{{device.color}}"> {{device.color}}</option>
                        <option value="negro" > Negro </option>
                        <option value="blanco" > Blanco</option>
                        <option value="gris"> Gris</option>
                        <option value="azul" > Azul</option>
                        <option value="rosado"> Rosado</option>
                        <option value="lila" > Lila</option>
                        <option value="rojo" > Rojo</option>
                        <option value="dorado" > Dorado</option>
                        <option value="plateado" > Plateado</option>

                    </select>
                    <label for="color">Color de dispositivo</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="row">
                <!-- This is the device type input -->
                <div class="input-field col s12">
                    <i class="fa fa-tablet prefix"></i>
                    <select id="type" name="type" class="icons" value="{{device.type}}">
                        <option value="{{device.type}}" >{{device.type}}</option>

                        {{#each typedevices}}
                            <option value="{{name}}" data-icon="{{image}}" class="left" alt=""> {{name}} </option>
                        {{else}}
                            <option value="" data-icon="" class="left" alt=""> No hay nada que mostrar </option>
                        {{/each}}

                    </select>
                    <label for="type">Tipo de dispositivo</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <!-- This is the brand type input -->
                <div class="input-field col s12">
                    <i class="fa fa-store prefix"></i>
                    <select id="march" name="march" class="icons" value="{{device.march}}">

                        <option value="{{device.march}}" >{{device.march}}</option>
                        <option value="Acer" data-icon="/images/march/acer.jpg" class="left" alt=""> Acer </option>
                        <option value="Apple" data-icon="/images/march/apple.jpg" class="left" alt=""> Apple </option>
                        <option value="Dell" data-icon="/images/march/dell.jpg" class="left" alt=""> Dell </option>
                        <option value="HP" data-icon="/images/march/hp.jpg" class="left" alt=""> HP </option>
                        <option value="Huawei" data-icon="/images/march/huawei.jpg" class="left" alt=""> Huawei </option>
                        <option value="Iphone" data-icon="/images/march/iphone.jpg" class="left" alt=""> Iphone </option>
                        <option value="Lenovo" data-icon="/images/march/lenovo.jpg" class="left" alt=""> Lenovo </option>
                        <option value="LG" data-icon="/images/march/lg.jpg" class="left" alt=""> LG </option>
                        <option value="Motorola" data-icon="/images/march/motorola.jpg" class="left" alt=""> Motorola </option>
                        <option value="Samsung" data-icon="/images/march/samsung.jpg" class="left" alt=""> Samsung </option>
                        <option value="Xiaomi" data-icon="/images/march/xiaomi.jpg" class="left" alt=""> Xiaomi </option>
                        <option value="Laptop"> Otro </option>
                        
                    </select>
                    <label for="type">Marca de dispositivo</label>
                    
                </div>
            </div>
        </div>
        


        <div class="row">
            <div class="row">
                <!-- This is the user model input -->
                <div class="input-field col s12">
                    <i class="fa fa-microchip prefix"></i>
                    <input id="model" name="model" type="text" class="validate" value="{{device.model}}">
                    <label for="model">Modelo</label>
                </div>
            </div>
        </div>

        

        <!-- This is body details input-->
        <div class="row">
            <div class="input-field">
                <h6>Aquí puedes detallar más</h6>
                
                <textarea id="body" name="body" value="{{device.body}}">{{device.body}}</textarea>
            </div>
        </div>      

        <!-- This is submit form-->
        <div class="row">
            <input type="submit" value="Guardar" class="btn">
            <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>

    </form>
</div>
