<h6>Dashboard</h6>
<h3>Welcome {{ name}} </h3>
<p1>Here you will register your devices.</p1>



{{#if devices}}
    <table  class="striped">
        <thead>
            <tr>
                <th>Serie</th>
                <th>Date of purchase</th>
                <th>Registration date</th>
                <th>Type</th>
                <th>March</th>
                <th>Color</th>
                <th>model</th>
            </tr>
        </thead>
        <tbody>
            {{#each devices}}
                <tr>
                    <td> <a href="/devices/{{_id}}">{{serie}}</a></td>
                    <td>{{date}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td>{{type}}</td>
                    <td>{{color}}</td>
                    <td>{{march}}</td>
                    <td>{{model}}</td>
                    <td>

                        <a href="/devices/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/devices/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>


                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not registered any device.</p>
{{/if}}