<h6>Panel principal</h6>
<h3>Bienvenido {{ name}} </h3>
<p1>Aquí registrarás tus dispositivos.</p1>



{{#if devices}}
    <table  class="striped">
        <thead>
            <tr>
                <th>Serie</th>
                <th>Fecha de compra</th>
                <th>Fecha de registro</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Modelo</th>
            </tr>
        </thead>
        <tbody>
            {{#each devices}}
                <tr>
                    <td> <a href="/devices/{{_id}}">{{serie}}</a></td>
                    <td>{{date}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td>{{type}}</td>
                    <td>{{color}}</td>
                    <td>{{march}}</td>
                    <td>{{model}}</td>
                    <td>

                        <a href="/devices/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/devices/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>


                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>Tu no has registrado ningún dispositivo.</p>
{{/if}}