


<!-- no edit -->

<div class="row">
    <div class="col s12 m8">
        <h3> Edita tu perfil</h3>
        <div class="card device">
            <div class="card-content">
                <span class="card-title">{{formatDate user.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                <span class="card-title">{{user.firstName}}</span>
                <span class="card-title">{{user.lastName}}</span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{user.firstName}}</span>
                <img src="{{user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="">Más de {{user.firstName}}</a>
            </div>
        </div>
    </div>
</div>



<!-- Form -->


<div class="row">
    <div class="card device"></div>
        <form action="/devices" method="POST" class="col s12">

            
            


            <!--  device photo 
            <div class="row">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            -->

            <div class="row">
                <div class="row">
                    <!--  user collegeID -->
                    <div class="input-field col s6">
                        <i class="fa fa-address-card prefix"></i>
                        <input id="collegeID" name="collegeID" type="number" class="validate">
                        <label for="collegeID" >Número de matrícula</label>
                    </div>
                    <!--  user birthdate -->
                    <div class="input-field col s6">
                        <i class="fa fa-calendar prefix"></i>
                        <input id="birthdate" name="birthdate" type="text" class="datepicker">
                        <label for="birthdate">Fecha de nacimiento</label>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="row">
                    <!--  user collegeID -->
                    <div class="input-field col s6">
                        <i class="fa-solid fa-envelope prefix"></i>
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email" >Correo institucional</label>
                    </div>
                    <!--  user birthdate -->
                    <!--  user gender -->
                    <div class="input-field col s6">
                        <i class="fa fa-venus-mars prefix"></i>
                        <select id="gender" name="gender" class="icons">
                            <option value="" disabled selected>Escogue una opción</option>
                            <option value="Femenino" > Femenino</option>
                            <option value="Masculino" > Masculino</option>
                        </select>
                        <label for="gender">Elige una opción de género</label>
                    </div> 

                </div>
            </div>



            <div class="row">
                <div class="row">

                    <!--  user address -->
                    <div class="input-field col s6">
                        <i class="fa fa-house prefix"></i>
                        <input id="address" name="address" type="text" class="validate">
                        <label for="address">Dirección</label>
                    </div>


                    <!--  user telephone -->
                    <div class="input-field col s6">
                        <i class="fa fa-phone prefix"></i>
                        <input id="phone"  name="phone" type="text" class="validate">
                        <label for="phone">Teléfono o celular</label>
                    </div>

                    

                </div>
            </div>

¿

            <div class="row">
                <div class="row">
                    <!--  device model -->
                    <div class="input-field col s6">
                        <i class="fa fa-building-columns prefix"></i>
                        <input id="faculty" name="faculty" type="text" class="validate">
                        <label for="faculty">Facultad</label>
                    </div> 


                    <!--  device model -->
                    <div class="input-field col s6">
                        <i class="fa fa-building-columns prefix"></i>
                        <input id="cademicProgram" name="cademicProgram" type="text" class="validate">
                        <label for="cademicProgram">Programa académico</label>
                    </div>

                </div>
            </div>



            <div class="row">
                <input type="submit" value="Guardar" class="btn">
                <a href="/dashboard" class="btn orange">Cancelar</a>
            </div>
        

        </form>
    </div>
</div>



